@font-face {
    font-family: "Oliciy";
    src: url("../fonts/Oliciy.ttf") format("truetype");
}

h1 {
    font-family: "Oliciy";
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0% !important;
    line-height: 150% !important;
}

h2 {
    font-family: "Oliciy";
    font-size: 28px;
    margin-bottom: 0% !important;
    line-height: 150% !important;
}

p {
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0% !important;
}

.bold {
    font-weight: 700;
}

.darktext {
    color: $color-1;
}

.magentatext {
    color: $color-2;
}

.lighttext {
    color: $color-3 ;
}

button{
    font-size: 24px;
}

/*+++++++++++++++++++++++++++++++++ Responsive +++++++++++++++++++++++++++++++++*/

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
        font-weight: 600;
    }
}


